body {
    background-color: #222831;
}

.background-icon {
    display: inline-block;
    color: whitesmoke;
    font-size: 28px;
    position: fixed;
    right: 1%;
    top: 45%;
    z-index: 100;
    transition: all 0.2s;
}

.background-icon:hover {
    transform: translateY(-5px);

}

.background-icon:active {
    transform: translateY(-2px);

}

.no-border {
    border: none;
    color: whitesmoke;
}

.profile {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    height: 250px;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(92, 123, 192, 0.7), rgba(9, 12, 206, 0.7)), url(./images/profile1.jpg);
    color: whitesmoke;
    padding: 20px 0;
    position: relative;
}

.profile-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: absolute;
    left: 44%;
    bottom: -85px;
    border: 8px solid whitesmoke;
    z-index: 100;
}

.social-media {
    position: relative;
    left: 40%;
    top: 80px;
}

.social-media-link {
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
    color: rgba(233, 233, 233, 0.6);
    transform: none;
    transition: all 0.2s;
}

.social-media-link:hover {
    color: rgba(233, 233, 233, 1);
    transform: translateY(-5px);
}

.social-media-link:active {
    color: rgba(233, 233, 233, 1);
    transform: translateY(-2px);
}

.fab {
    font-size: 28px;
}

.introduction {
    position: relative;
    left: 2%;
    top: 10px;
    height: 400px;
    width: 96%;
    /* background-image: linear-gradient(to right bottom, rgba(76, 78, 76, 0.85), rgba(5, 87, 107, 0.85)); */
}

.introduction-text {
    color: whitesmoke;
    font-family: 'Sansita Swashed', cursive;
    position: relative;
    top: 100px;
    text-align: center;
}

.my-skills {
    color: whitesmoke;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

.my-skills-text {
    display: inline-block;
    width: 500px;
    padding: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, rgba(73, 73, 73, 0.6), rgba(179, 172, 172, 0.6));
}

.carousel-item h4 {
    padding: 30px;
}

.carousal-image1 {
    height: 500px;
    background-image: linear-gradient(to right bottom, rgba(73, 73, 73, 0.8), rgba(179, 172, 172, 0.8)), url(./images/image1.jpg);
    background-size: cover;
}

.carousal-image2 {
    height: 500px;
    background-image: linear-gradient(to right bottom, rgba(73, 73, 73, 0.8), rgba(179, 172, 172, 0.8)), url(./images/image3.jpg);
    background-size: cover;
}

.carousal-image3 {
    height: 500px;
    background-image: linear-gradient(to right bottom, rgba(73, 73, 73, 0.8), rgba(179, 172, 172, 0.8)), url(./images/image2.jpg);
    background-size: cover;
}

.price {
    position: relative;
    left: 1%;
}

.card {
    display: inline-block;
    height: 250px;
    margin: 40px 60px;
    position: relative;
    transition: all 0.2s;

}

.card-link {
    margin-top: 35px;
    position: relative;
    left: 30%
}

.card:hover {
    transform: translateY(-15px);
}

.card:active {
    transform: translateY(-2px);
}

footer {
    color: whitesmoke;
}